body {
    margin: 0 auto;
    padding: 4rem;
    width: 600px;
    height: 600px;

    display: grid;
    grid-template: repeat(5,1fr) / repeat(5,1fr);
    grid-gap: 1rem;
    
}

div {
    border-radius: 0.5rem;
}

div:nth-child(odd) {
    background: #000;
}

div:nth-child(even) {
    border: 2px solid #000;
}